@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300");
/*------------------------------------
    MOBILE FIRST BASE STYLES
------------------------------------*/
/*----------Font Styles-------------*/
h1 {
  font-size: 1rem;
}

h3 {
  font-size: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/*------------------------------------
    MOBILE FIRST GRIDS
------------------------------------*/
/*----Body inside grid-container----*/
/*-----Grid-container set-up--------*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
  color: white;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

/*----HEADER-GRID SETUP----*/
.header-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7477bf;
}
/*----NAVBAR-GRID SETUP----*/
.navbar-grid {
  background-color: #4d4c72;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------------
    MOBIL IMAGES STYLES
----------------------------*/
/*----BELL SVG IN HEADER----*/
.bell {
  width: 50px;
  height: auto;
  border-right: 2px solid rgb(255, 255, 255);
}
/*----PROFILE IMAGE IN HEADER----*/
.pic img {
  border-radius: 100%;
  width: 50px;
  height: auto;
}
nav img {
  width: 60px;
  padding: 10px 15px;
}

/*----NAVIGATION SIDEBAR IMAGES----*/

/*----Media query for desktop----*/
/*----Grid placement for elements----*/
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

}

